body {
    margin:0;
}
* {
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Jura', sans-serif;
    color: wheat;
}
.scene {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
}
.layer {
    position: absolute;
    right: -10%;
    top: 0;
    width: 110%;
    height: 100%;
    /* background-image: url(../images/mountains.jpg); */
    /* background-color: rgb(157, 158, 158); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.page-top {
    height: 177px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}
.page-top_item {
    margin:15px;
}
.page-main {
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.page-bot {
    height: 30%;
    box-sizing: border-box;
    margin-top: 20px;
}
/* -----------------------------PAGE-TOP----------------------------------- */
/* ------------------------------PLAYER------------------------------------ */
.info-player {
    display: flex;
    flex-basis: 33%;
}
.info-player__char-icon {
    height: 140px;
    width: 140px;
    border: 1px solid black;
    border-radius: 73px;
    background: url(../images/sprites/gg_small.png);
    background-position: center;
    background-size: cover;
    z-index: 100;
}
.info-player-side-block {
    flex-grow: 1;
    margin-left: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-player__char-nickname {
    margin-right: -5px;
    width: 100%;
    transform: skew(-10deg);
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0));
    text-align: center;
    font-size: 24px;
    color: white;
}
.info-player-char-hp-bar {
    position: relative;
    width: 100%;
    height: 25px;
    border: 1px solid black;
    border-radius: 0 15px 15px 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    overflow: hidden;
}
.info-player__char-hp-hit {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: width 0.5s;
    z-index: 1;
}
.info-player__char-hp {
    position: absolute;
    width: 0;
    height: 100%;
    border: 1px solid red;
    background-color: red;
    z-index: 2;
}
.info-player__char-hp-num {
    position: absolute;
    width: 100%;
    height: 100%;
    color: wheat;
    text-align: center;
    font-weight: bold;
    z-index: 3;
}
/* ---------------------------------TURN-SWITCHER--------------------- */
.turn-switcher {
    flex-basis: 20%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.turn-switcher__timer {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0));
    width: 110px;
    text-align: center;
    font-size: 36px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}
.turn-switcher__button {
    width: 110px;
    height: 30px;
    font-size: 16px;
    background: black;
    color: wheat;
    border: none;
}
.turn-switcher__button:hover {
    opacity: 0.7;
}
/* ----------------------------------ENEMY---------------------------- */
.info-enemy {
    display: flex;
    flex-basis: 33%;
    justify-content: flex-end;
}
.info-enemy__char-icon {
    height: 140px;
    width: 140px;
    border: 1px solid black;
    border-radius: 73px;
    background: url(../images/sprites/gg_small.png);
    background-position: center;
    background-size: cover;
    z-index: 100;
}
.info-enemy-side-block {
    flex-grow: 1;
    margin-right: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-enemy__char-nickname {
    width: 100%;
    transform: skew(-10deg);
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0));
    text-align: center;
    font-size: 24px;
    color: white;
}
.info-enemy-char-hp-bar {
    position: relative;
    width: 100%;
    height: 25px;
    border: 1px solid black;
    border-radius: 15px 0 0 15px;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
.info-enemy__char-hp-hit {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: width 0.5s;
    z-index: 1;
}
.info-enemy__char-hp {
    position: absolute;
    width: 0;
    height: 100%;
    border: 1px solid red;
    background-color: red;
    z-index: 2;
}
.info-enemy__char-hp-num {
    position: absolute;
    width: 100%;
    height: 100%;
    color: wheat;
    text-align: center;
    font-weight: bold;
    z-index: 3;
}
/* ----------------------------PAGE-MID--------------------------------- */
/* ----------------------------PLAYER----------------------------------- */
.player-block {
    flex-basis: 34%;
    display: flex;
    background: rgba(245, 222, 179,0.3);
    border-radius: 15px;
}
.char-player {
    flex-basis: 100%;
    background: url(../images/sprites/fighter.png) no-repeat;
    background-size: contain; 
    background-position: center;
    display: flex;
    flex-direction: column;
}
.char-player .body-part {
    opacity: 0;
    flex-basis: 25%;
    background: url(../images/shield.png) no-repeat;
    background-size: contain; 
    background-position: center;
}
.char-player .body-part:hover {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* opacity: 0.9;
    transition: opacity 0.5s; */
    cursor: pointer;
}
.char-player .body-part_active{
    opacity: 0.9;
}
.char-player .body-part_active:hover{
    animation: none;
}
/* -----------------------------BATTLE-INFO----------------------------- */
.battle-info {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: space-between;
}
.battle-info-actions {
    flex-basis: 49%;
    display:flex;
    height: 100%;
    position: relative;
    justify-content: space-between;
}
.battle-info-defence {
    flex-basis: 49%;
    display:flex;
    flex-direction: column;
    background: rgba(0,0,0,0.7);
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
}
.battle-info-defence input:checked + label{
    background-color: rgba(0, 0, 255, 0.5);
}
.battle-info-defence label:hover {
    cursor: pointer;
}
.battle-info-defence__title {
    text-align: center;
}
.battle-info-attack {
    flex-basis: 49%;
    display:flex;
    flex-direction: column;
    background: rgba(0,0,0,0.7);
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
}
.battle-info-attack input:checked + label{
    background-color: rgba(255, 0, 0, 0.5);
}
.battle-info-attack label:hover {
    cursor: pointer;
    opacity: 0.8;
}
.battle-info-attack__title {
    text-align: center;
}
.battle-info__blocked{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
}
.battle-info__blocked--mobile{
    display: none;
}
.battle-info__blocked-title{
    font-size: 24px;
    margin: 0;
}
.battle-info__battle-log {
    flex-basis: 49%;
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
}
.battle-log{
    padding: 5px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 0;
}
.battle-log__item{
    margin: 0;
    margin-bottom: 10px;
}
/* -------------------------------------ENEMY-------------------------- */
.enemy-block {
    flex-basis: 34%;
    display: flex;
    background: rgba(245, 222, 179,0.3);
    border-radius: 15px;
}
.char-enemy {
    flex-basis: 100%;
    background: url(../images/sprites/fighter.png) no-repeat 50px;
    background-size: contain; 
    background-position: center;
    display:flex;
    flex-direction: column;
}
.char-enemy .body-part {
    opacity: 0;
    flex-basis: 25%;
    background: url(../images/sword.png) no-repeat;
    background-size: contain; 
    background-position: center;
}
.char-enemy .body-part:hover {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}
.char-enemy .enemy-body-part_active{
    opacity: 0.9;
}
.char-enemy .enemy-body-part_active:hover{
    animation: none;
}
@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}
::-webkit-scrollbar-track {
    background-color:black;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: wheat;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(124, 122, 118);
}
::-webkit-scrollbar{
    width: 17px;
}
.fight-results__wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.fight-results{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 382px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border: 1px solid #000;
}
.fight-results__title{
    text-align: center;
    font-size: 42px;
    color: #000;
}
.fight-results__return-button{
    width: 110px;
    height: 30px;
    font-size: 16px;
    background: black;
    color: wheat;
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

.battle-log--mobile{
    display: none;
}

@media(max-width: 1100px){
    .page-top{
        height: 157px;
    }

    .info-player__char-icon{
        width: 120px;
        height: 120px;
    }

    .info-enemy__char-icon{
        width: 120px;
        height: 120px;
    }
}

@media(max-width: 900px){
    .page-top{
        height: 137px;
    }

    .info-player__char-icon{
        width: 110px;
        height: 110px;
    }

    .info-enemy__char-icon{
        width: 110px;
        height: 110px;
    }
}


@media(max-width: 700px){
    .page{
        justify-content: space-between;
    }

    @supports (-webkit-appearance:none) {
        .page {
          height: calc(100vh - 56px);
        }
    }

    .page-top{
        height: 15%;
    }

    .page-top_item{
        margin: 8px;
    }

    .turn-switcher__button{
        width: 100px;
    }

    .info-player__char-icon{
        display: none;
    }

    .info-player__char-nickname{
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .info-player__char-hp{
        transform: none;
    }

    .info-enemy__char-icon{
        display: none;
    }

    .info-enemy__char-nickname{
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .info-enemy__char-hp{
        transform: none;
    }

    .page-main{
        position: relative;
    }

    .battle-info{
        display: none;
    }

    .battle-info__blocked--mobile{
        display: flex;
    }

    .player-block{
        flex-basis: 48%;
    }

    .enemy-block{
        flex-basis: 48%;
    }

    .fight-results{
        width: 80%;
    }

    .page .page-bot{
        height: 30%;
    }

    .footer{
        height: 0;
    }

    .battle-log--mobile{
        display: block;
        height: 100%;
        padding-right: 40px;
        position: relative;
        border-radius: 15px 0 0 0;
    }
}

.hidden{
    display: none;
}