* {
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Jura', sans-serif;
    color: wheat;
}
.scene {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/mountains.jpg) center no-repeat;
    background-size: cover;
    z-index: -1;
}
.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-top {
    flex-basis: 20%;
    display: flex;
    justify-content: space-between;
}
.page-top_item {
    margin:20px;
}
.page-main {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-bot {
    height: 35%;
    background: rgba(0, 0, 0, 0.7);
}
/* ---------------------------PAGE-MAIN-------------------- */
.main-menu {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid wheat;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
}
.main-menu-text-block {
    flex-basis: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.main-menu-actions {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-menu__start-text {
    padding:10px;
    text-align: center;
}
.main-menu__button_start-battle {
    width: 100px;
    height: 30px;
    background-color: black;
    border: wheat 1px solid;
    outline: none;
}
.main-menu__button_start-battle:hover {
    opacity: 0.7;
}
.main-menu__search-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* -------------------------SPINNER---------------------- */
.spinner {
    display: flex;
    justify-content: space-between;
    width: 60px;
}
.spinner div {
    background: wheat;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation:spinner-animation 1.3s linear infinite;
    transform: scale(0.91);
}
.spinner div:nth-child(1){
    -webkit-animation-delay:0.39s;
    animation-delay:0.39s;
}
.spinner div:nth-child(2){
    -webkit-animation-delay:0.52s;
    animation-delay:0.52s;
}
.spinner div:nth-child(3){
    -webkit-animation-delay:0.65s;
    animation-delay:0.65s;
}
/* ----------------------------MODAL_WINDOW---------------- */
.wrong__window {
    position: absolute; 
    bottom: 0px;
    right: 0px;
    margin: 10px;
    width: 300px;
    height: 150px;
    display: flex;
    border-radius: 15px;
    border: 1px solid red;
    background: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(200px);
    transition: 0.5s;
}
.wrong__window__icon {
    width: 50px;
    height: 50px;
    background: url(../images/red_cross.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrong__window__text {
    padding: 10px;
    text-align: center;
}

.hidden{
    display: none;
}

@media(max-width: 600px){
    .page-main{
        height: 100%;
    }
}

@keyframes spinner-animation {
    0%{
        transform:scale(1.2);
        opacity:1
    }
    100%{
        transform:scale(0.7);
        opacity:0.1
    }
}